<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeingxBot - Footer</title>
    <link rel="stylesheet" href="stylesheets/footer.css">
</head>

<body>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 BeingxBot. All rights reserved.</p>
            <div class="social-icons">
                <a href="#" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="github.com/amityadavtech/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>