<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeingxBot - Price&Plans</title>
    <link rel="stylesheet" href="/stylesheets/plans.css">
</head>

<body>
    <section class="pricing-plans">
        <div class="pricing-card basic">
            <div class="heading">
                <h4>BASIC</h4>
                <p>One Time Payement</p>
            </div>
            <p class="price">
                &#8377;7,000
            </p>
            <ul class="features">
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>1 domain</strong> name
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>Secure and working </strong> website
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>Professional</strong> Design
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>Responsive</strong> Design
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>Optimized</strong> Layout
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>Simple</strong> Contact
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>Basic</strong> SEO
                </li>

            </ul>
            <a href="/checkout-plans" style="text-decoration: none;"> <button class="cta-btn">SELECT</button></a>

        </div>
        <div class="pricing-card standard">
            <div class="heading">
                <h4>STANDARD</h4>
                <p>One Time Payement</p>
            </div>
            <p class="price">
                &#8377;15,000
            </p>
            <ul class="features">
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>Basic Plan+</strong>
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>Unique</strong> Design
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>Advance</strong> Features
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>Enhanced</strong> SEO
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>Periodic</strong> Reports
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>Priority</strong> Support
                </li>

            </ul>
            <a href="/checkout-plans" style="text-decoration: none;"> <button class="cta-btn">SELECT</button></a>
        </div>
        <div class="pricing-card premium">
            <div class="heading">
                <h4>PREMIUM</h4>
                <p>One Time Payement</p>
            </div>
            <p class="price">
                &#8377;25,000
            </p>
            <ul class="features">
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>Baic Plan+</strong>
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>Standard Plan+</strong>
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>Targetted Marketting</strong>
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>In Depth Analysis</strong>
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    <strong>24/7 Support</strong>
                </li>

            </ul>
            <a href="/checkout-plans" style="text-decoration: none;"> <button class="cta-btn">SELECT</button></a>
        </div>
    </section>
</body>

</html>