<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeingxBot - About Us</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="/images/logo.png">

</head>

<body>
    <section class="nav-bar">
        <%- include('partials/header') %>
    </section>
    <section class="about-us">
        <div class="container">
            <h1 class="h1"><span class="span">About</span> BeingxBot</h1>
            <hr>

            <div class="section" id="vision">
                <img src="/images/vision.svg" alt="Vision Image">
                <div class="text">
                    <h2><span class="span">Our</span> Vision</h2>
                    <hr />
                    <p id="highlight-effect">At <span class="bold">BeingxBot</span>, <span class="highlight"> we
                            envision a world where
                            digital excellence is accessible to all.</span> We strive to
                        transform ideas into compelling digital experiences, helping businesses thrive in an
                        ever-evolving online landscape.</p>
                </div>
            </div>

            <div class="section" id="who-we-are">
                <div class="text">
                    <h2><span class="span">Who</span> We Are</h2>
                    <hr />
                    <p id="highlight-effect"><span class="bold">BeingxBot</span> <span class="highlight"> is a
                            collective of creative
                            thinkers, tech enthusiasts, and problem solvers.</span> We are
                        not
                        just a web agency; we are your digital partners, committed to turning your vision into
                        reality.
                        With a blend of creativity and technical expertise, we push the boundaries of what’s
                        possible on
                        the web.</p>
                </div>
                <img src="/images/our-team.svg" alt="Team Image">
            </div>

            <div class="section" id="approach">
                <img src="/images/innovation.svg" alt="Approach Image">
                <div class="text">
                    <h2><span class="span">Our Antique</span> Approach</h2>
                    <hr />
                    <p id="highlight-effect">
                        <span class="topic">Holistic Solutions:</span>
                        We provide end-to-end web solutions,
                        from initial concept to final launch
                        and
                        beyond. <span class="highlight">Our services encompass web development, design, and SEO
                            optimization, ensuring a cohesive and comprehensive approach.</span>
                    </p>


                    <p id="highlight-effect"><span class="topic">Innovative Design:</span> Our design philosophy is
                        centered
                        around innovation and user engagement.
                        <span class="highlight"> We
                            create visually striking websites that not only capture attention but also deliver an
                            exceptional user experience.</span>
                    </p>
                    <p id="highlight-effect"><span class="topic">Tailored Strategies:</span> Every business is
                        unique, and so are
                        our strategies. <span class="highlight"> We take the time to
                            understand your specific needs and tailor our solutions to align with your goals.</span>
                    </p>
                </div>
            </div>

            <div class="section" id="process">
                <div class="text">
                    <h2><span class="span">Our</span> Process</h2>
                    <hr />
                    <div class="process-content">
                        <div class="process-content-topics"><span class="topic">Discovery:</span>
                            <p id="highlight-effect">We begin by immersing ourselves
                                in your business to understand
                                <span class="highlight"> your objectives, target audience, and challenges.</span>
                            </p>
                        </div>
                        <div class="process-content-topics"><span class="topic">Creative Ideation:</span>
                            <p id="highlight-effect"> <span class="highlight"> Our team brainstorms and
                                    develops creative concepts</span>
                                that
                                resonate with your brand and engage your audience.</p>
                        </div>
                        <div class="process-content-topics"><span class="topic">Development:</span>
                            <p id="highlight-effect"> We bring <span class="highlight"> designs to life with
                                    clean, efficient code, ensuring
                                    your website is fast, secure, and scalable.</span></p>
                        </div>
                        <div class="process-content-topics"><span class="topic">Launch & Optimize:</span>
                            <p id="highlight-effect"> We launch <span class="highlight"> your website
                                    with precision and monitor its
                                    performance, making data-driven adjustments to maximize impact.</span></p>
                        </div>
                        <div class="process-content-topics"><span class="topic">Continuous Improvement:</span>
                            <p id="highlight-effect"> The digital world <span class="highlight">
                                    never stands still, and neither
                                    do we.</span> We offer ongoing support and optimization to keep your website
                                ahead of the
                                curve.</p>
                        </div>
                    </div>


                </div>
                <img src="/images/process.svg" alt="Process Image">
            </div>

            <div class="section" id="why-choose-us">
                <img src="/images/choose-us.svg" alt="Why Choose Us Image">
                <div class="text">
                    <h2><span class="span">Why choose</span> BeingxBot</h2>
                    <hr />
                    <p id="highlight-effect"> <span class="topic">Expert Team:</span> Our team is <span
                            class="highlight"> composed of
                            seasoned
                            professionals with diverse skills and
                            backgrounds,</span>
                        united by a passion for digital excellence.</p>
                    <p id="highlight-effect"> <span class="topic">Client-Centric:</span> We believe in <span
                            class="highlight"> building
                            lasting
                            relationships with our clients.</span> Your success
                        is
                        our success, and we go the extra mile to ensure your satisfaction.</p>
                    <p id="highlight-effect"> <span class="topic">Cutting-Edge Technology:</span> We stay <span
                            class="highlight"> ahead of
                            industry trends</span>
                        and <span class="highlight"> leverage the latest
                            technologies</span> to
                        <span class="highlight">deliver innovative solutions</span> that give you a competitive
                        edge.
                    </p>
                    <p id="highlight-effect"> <span class="topic">Proven Track Record:</span> With a portfolio of
                        successful
                        projects and happy clients, <span class="highlight"> BeingxBot is
                            a
                            trusted partner for businesses looking to elevate their online presence.</span></p>
                </div>

            </div>

            <!-- Statistics Section -->
            <section id="statistics">
                <h2><span class="span"> Our </span>Statistics</h2>
                <div class="statistics-cards">
                    <div class="stat-card">
                        <div class="stat-box">
                            <i class="fas fa-shipping-fast"></i>
                            <h3>
                                <span>48</span><span>H</span>
                            </h3>
                            <p>Deliver</p>
                        </div>
                    </div>
                    <div class="stat-card">
                        <div class="stat-box">
                            <i class="fas fa-project-diagram"></i>
                            <h3>
                                <span class="count" data-count="50">0</span><span>+</span>
                            </h3>
                            <p>Projects</p>
                        </div>
                    </div>
                    <div class="stat-card">
                        <div class="stat-box">
                            <i class="fas fa-award"></i>
                            <h3>
                                <span class="count" data-count="22">0</span><span>+</span>
                            </h3>
                            <p>Satisfied Clients</p>
                        </div>
                    </div>
                    <div class="stat-card">
                        <div class="stat-box">
                            <i class="fas fa-globe"></i>
                            <h3>
                                <span class="count" data-count="4">0</span><span>+</span>
                            </h3>
                            <p>Experience</p>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </section>
    <section>
        <%- include('partials/footer') %>

    </section>
    <script src="https://www.chatbase.co/embed.min.js" chatbotId="nmlPIzVv9MMQeoASHb5HK" defer></script>

    <script src="/javascripts/chatbot.js"></script>

    <script src="/javascripts/about.js"></script>
</body>

</html>