<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BeingxBot</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/x-icon" href="/images/logo.png">

</head>

<body>
  <section class="nav-bar">

    <%- include('partials/header') %>
  </section>
  <section class="hero">
    <div class="container">
      <div class="text-section">
        <h1><span class="company span"> BeingxBot:</span> Crafting excellence through collaborative software
          development.</h1>
        <p> <span class="company">BeingxBot</span> specializes in creating captivating digital experiences through
          innovative web design, robust
          development, and targeted SEO strategies. We tailor our approach to meet your unique business needs, ensuring
          impactful solutions that drive growth and engagement in the digital landscape.</p>
      </div>
      <div class="image-section">
        <img src="/images/programming.svg" alt="Programming">
      </div>
    </div>
    <div class="blob-container">
      <div class="blob-first">
        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
          <path fill="#FF0066"
            d="M56.5,-57.7C70.8,-55.5,78,-35.2,80.9,-14.9C83.8,5.5,82.3,26.1,73.1,42.3C63.9,58.5,46.9,70.3,27.8,77.8C8.8,85.3,-12.3,88.6,-23.1,78.3C-33.9,68,-34.4,44,-42.4,26.3C-50.5,8.6,-66.2,-2.9,-70.1,-17.9C-74,-32.8,-66.2,-51.2,-52.6,-53.6C-38.9,-55.9,-19.5,-42.3,0.8,-43.3C21.2,-44.3,42.3,-60,56.5,-57.7Z"
            transform="translate(100 100)" />
        </svg>
      </div>
      <div class="blob-second">
        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
          <path fill="#FF0066"
            d="M56.5,-57.7C70.8,-55.5,78,-35.2,80.9,-14.9C83.8,5.5,82.3,26.1,73.1,42.3C63.9,58.5,46.9,70.3,27.8,77.8C8.8,85.3,-12.3,88.6,-23.1,78.3C-33.9,68,-34.4,44,-42.4,26.3C-50.5,8.6,-66.2,-2.9,-70.1,-17.9C-74,-32.8,-66.2,-51.2,-52.6,-53.6C-38.9,-55.9,-19.5,-42.3,0.8,-43.3C21.2,-44.3,42.3,-60,56.5,-57.7Z"
            transform="translate(100 100)" />
        </svg>
      </div>
      <div class="blob-third">
        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
          <path fill="#FF0066"
            d="M56.5,-57.7C70.8,-55.5,78,-35.2,80.9,-14.9C83.8,5.5,82.3,26.1,73.1,42.3C63.9,58.5,46.9,70.3,27.8,77.8C8.8,85.3,-12.3,88.6,-23.1,78.3C-33.9,68,-34.4,44,-42.4,26.3C-50.5,8.6,-66.2,-2.9,-70.1,-17.9C-74,-32.8,-66.2,-51.2,-52.6,-53.6C-38.9,-55.9,-19.5,-42.3,0.8,-43.3C21.2,-44.3,42.3,-60,56.5,-57.7Z"
            transform="translate(100 100)" />
        </svg>
      </div>

    </div>
  </section>
  <div class="gap"></div>
  <section class="services">
    <div class="container">
      <div class="content">
        <h1>SERVICES</h1>
        <hr>
      </div>
      <div class="service-card">
        <div class="service-image">
          <img src="/images/web-development.svg" alt="Web Development">
        </div>
        <div class="service-content">
          <h2>Web Development</h2>
          <hr>
          <p>We specialize in creating dynamic, high-performance websites that deliver a seamless user experience. Our
            expertise ensures your site is fast, secure, and scalable to meet your business needs.</p>
        </div>
      </div>
      <div class="service-card">
        <div class="service-image">
          <img src="/images/ui-design.svg" alt="UI/UX Design">
        </div>
        <div class="service-content">
          <h2>UI/UX Design</h2>
          <hr>
          <p>Our design team crafts visually stunning and user-friendly websites that reflect your brand's identity.
            We
            focus on aesthetics, usability, and engagement to make your site stand out.</p>
        </div>
      </div>
      <div class="service-card">
        <div class="service-image">
          <img src="/images/seo.svg" alt="SEO Optimization">
        </div>
        <div class="service-content">
          <h2>SEO Optimization</h2>
          <hr>
          <p>Boost your online visibility with our SEO services. We use the latest techniques to improve your search
            engine rankings, drive organic traffic, and increase your website's reach and impact.</p>
        </div>
      </div>

    </div>
    </div>
  </section>
  <div class="gap"></div>


  <section class="work-process">
    <div class="content">
      <h1>ROADMAP</h1>
      <hr>
    </div>

    <div class="timeline">
      <div class="timeline-step left-step" style="position: relative;">
        <div class="sec-container">
          <div class="text-box">
            <img src="images/requirement-analysis.svg" alt="Requirement-Analysis">
            <h2>REQUIREMENTS ANALYSIS</h2>
            <p>Gather detailed project requirements through initial consultation and client meetings to
              understand the project scope and objectives.</p>
            <div class="left-step-arrow"></div>
          </div>
        </div>
        <div class="step-number">
          1
        </div>
      </div>
      <div class="timeline-step right-step">
        <div class="sec-container">
          <div class="text-box">
            <img src="images/planning.svg" alt="Planning">
            <h2>Planning and Design</h2>
            <p>Plan the project timeline, allocate resources, and design initial wireframes and mockups to visualize the
              final product.</p>
            <div class="right-step-arrow"></div>
          </div>
        </div>
        <div class="step-number right-number">
          2
        </div>
      </div>
      <div class="timeline-step left-step" style="position: relative;">
        <div class="sec-container">
          <div class="text-box">
            <img src="images/template-creation.svg" alt="TEMPLATE CREATION">
            <h2>TEMPLATE CREATION</h2>
            <p>Create comprehensive website templates and finalize the UI/UX design to ensure a consistent and
              user-friendly interface.</p>
            <div class="left-step-arrow"></div>
          </div>
        </div>
        <div class="step-number">
          3
        </div>
      </div>
      <div class="timeline-step right-step">
        <div class="sec-container">
          <div class="text-box">
            <img src="images/development.svg" alt="DEVELOPMENT">
            <h2>DEVELOPMENT</h2>
            <p>Plan the project timeline, allocate resources, and design initial wireframes and mockups to visualize the
              final product.</p>
            <div class="right-step-arrow"></div>
          </div>
        </div>
        <div class="step-number right-number">
          4
        </div>
      </div>
      <div class="timeline-step left-step" style="position: relative;">
        <div class="sec-container">
          <div class="text-box">
            <img src="images/deployment.svg" alt="DEPLOYMENT">
            <h2>DEPLOYMENT</h2>
            <p>Deploy the developed website to a reliable hosting environment, ensuring it is accessible to users.</p>
            <div class="left-step-arrow"></div>
          </div>
        </div>
        <div class="step-number">
          5
        </div>
      </div>
      <div class="timeline-step right-step">
        <div class="sec-container">
          <div class="text-box">
            <img src="images/diliver.svg" alt="DILIVER">
            <h2>DILIVER</h2>
            <p>Hand over the completed website to the client, ensuring all requirements are met and providing necessary
              documentation and training.</p>
            <div class="right-step-arrow"></div>
          </div>
        </div>
        <div class="step-number right-number">
          6
        </div>
      </div>


      <div class="timeline-line">
        <div class="progress"></div>
      </div>
    </div>


  </section>
  <div class="gap"></div>
  <section class="contact-us">
    <div class="content contact-us-content">
      <h1>CONTACT</h1>
      <hr>
    </div>
    <script src="https://sheetdb.io/s/f/2yv704u8tnkzz.js"></script>
  </section>




  <section>
    <%- include('partials/footer') %>

  </section>
  <script src="https://www.chatbase.co/embed.min.js" chatbotId="SQNeU74uu7yMMTJdQ4yYB" domain="www.chatbase.co" defer>
  </script>
  <script src="javascripts/chatbot.js"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="javascripts/index.js"></script>



</body>

</html>